{% extends 'base.html' %}
{% load static %}

{% block body_block %}
    <div class="login">
        <div class="form-group">
            <h1>Guest approve</h1>
            {% if error %}
                <div style="margin:0 auto; color: ghostwhite; text-align: center ">
                    <p>{{ error }}</p>
                </div>
            {% else %}
                <p>Hi {{ event_attendance.contact.first_name }} {{ event_attendance.contact.last_name }},</p>
                <p>You have been invited to {{ event_attendance.event.name }} on {{ event_attendance.event.event_date }}
                    at {{ event_attendance.event.event_location_name }}</p>

                {% if event_attendance.event.waze_link %}
                    <p>Navigate to the event using this <a href="{{ event_attendance.event.waze_link }}">Waze Link</a>
                    </p>
                {% endif %}

                <form method="POST" action="{% url 'sms_verifier_app:approve_guest' %}" id="guest_approve"
                      name="guest_approve" role="form">
                    {% csrf_token %}

                    <input name="uuid" type="hidden" value="{{ event_attendance.uuid }}"/>

                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Attending</label>
                                <select class="form-control" id="attending" name="attending" required>
                                    <option value="yes" selected>yes</option>
                                    <option value="no">no</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Num of Guests</label>
                                <select class="form-control" id="num_of_guests" name="num_of_guests" required>
                                    {#                                    <option value="1" selected>1</option>#}
                                    {% for num in '1234'|make_list %}
                                        <option value="{{ forloop.counter }}">{{ forloop.counter }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>

                    <div id="form_error_div" class="alert alert-danger" style="visibility: hidden"></div>

                    <button type="submit" class="btn btn-primary btn-fill pull-right">Approve</button>
                    <div class="clearfix"></div>
                </form>

                <br>

                {% if event_attendance.event.event_image %}
                    <div class="row">
                        <div class="col d-flex justify-content-center">
                            <div class="item"><img src="/media/event_{{ event_attendance.event.id }}/event_image.jpeg"
                                                   class="img-fluid" alt="event image"></div>
                        </div>
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                {% endif %}

            {% endif %}
        </div>
    </div>
{% endblock %}
