# Make sure using python3 in order to install django 2.x and above
django==2.2.6
gunicorn==20.0.0

mysqlclient==1.4.5

pillow==6.2.1 # ImageField
pytz==2019.3

django_user_email_extension
djangorestframework
django-oauth-toolkit
django-ipware
social-auth-app-django==3.1.0
